<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<!-- Modal -->
	<div th:fragment="modal-form" class="modal fade" id="modal-indicacao"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Editar
						Indicação</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<div th:if="${erroSolicitacao != null}" id="erroSolicitacao">
						<div class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<i class="oi oi-check"></i> <span> <strong
								th:text="${erroSolicitacao}" style="color: black"></strong>
							</span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<span th:text="${erro_indicacao}" id="msg-erro_indicacao"></span>
					<form th:action="@{/indicacoes/salvar/codigo/{id} (id=${indicacao.id})}" method="POST"
						th:object="${indicacao}">
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="assunto">Assunto</label> <input type="text"
									class="form-control" id="assunto" placeholder="Reunião sobre..."
									autofocus="autofocus" th:field="*{assunto}"
									th:classappend="${#fields.hasErrors('assunto')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{assunto}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="sessao">Sessão</label> <input type="text"
									class="form-control" id="sessao" placeholder="10ª sessão..."
									autofocus="autofocus" th:field="*{sessao}"
									th:classappend="${#fields.hasErrors('sessao')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{sessao}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="datePickerId">Data</label>
								<input class="form-control" type="date" id="datePickerId"
									th:classappend="${#fields.hasErrors('data')} ? 'is-invalid'"
									th:field="*{data}" />
								<div class="invalid-feedback">
									<span th:errors="*{data}"></span>
								</div>
							</div>
						</div>	
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="solicitacao">Solicitação</label> <select
									th:classappend="${#fields.hasErrors('solicitacao')} ? 'is-invalid'"
									id="solicitacao" class="form-control" th:field=*{solicitacao}>
									<option value="">Sem solicitação</option>
									<option th:each="s : ${solicitacoes}" th:value="${s.id}"
										th:text="${'Nº ' + s.id + ' | ' + s.cliente.nome + ' | ' + s.assunto.descricao + ' | ' + s.bairro.descricao + ' | ' + #temporals.format(s.data, 'dd/MM/yyyy')}">Mauricio</option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{solicitacao}"></span>
								</div>
							</div>
						</div>		
						<div class="form-row">
								<div class="form-group col-md-12">
									<label for="descricao">Anotações</label>
									<textarea class="form-control" id="descricao"
										autofocus="autofocus" th:field="*{descricao}"
										th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"></textarea>
									<div class="invalid-feedback">
										<span th:errors="*{descricao}"></span>
									</div>
								</div>
							</div>												
							
						
						<input type="hidden" th:field="*{id}">
						
							<button type="button" class="btn btn-perigo"
							data-dismiss="modal" id="cancelar-modal">Cancelar</button>
						<button type="submit" class="btn btn-sim">Salvar</button>
						
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>